node_modules
dist
dist-ssr
*.local
.DS_Store
coverage

# Vite
.vite

# TS incremental build info
*.tsbuildinfo

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Editor
.vscode/*
!.vscode/extensions.json
.idea
